#pokedex {
  background: red;
  height: 80vh;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}

#title {
  margin-top: 15px;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}

#pokeType,
#name,
#number {
  color: white;
}

#name {
  font-variant: small-caps;
  font-size: 25px;
}

.imgbg {
  background-color: white;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  border-radius: 9px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 7px 2px rgb(124, 124, 124) inset;
}

img {
  height: 88%;
  margin-left: 5px;
}

#pokeType {
  font-variant: small-caps;
  font-size: 20px;
  letter-spacing: 1px;
}

#pokeStat {
  width: 200px;
  font-variant: small-caps;
  display: flex;
  flex-wrap: wrap;
  font-size: 23px;
  color: white;
  margin-left: 6%;
  margin-top: 5px;
}

#name {
  margin-top: 5px;
}

#write-number {
  font-variant: small-caps;
  text-align: left;
  margin-top: -80%;
  line-height: 11px;
}
#earlier-evolution {
  height: 19%;
  width: 19%;
  margin-top: -84%;
  margin-left: -2.5%;
}