#pokedex {
  background: red;
  height: 80vh;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}

#pokeType,
#name,
#number {
  color: white;
}

#name {
  font-variant: small-caps;
  font-size: 25px;
}

.imgbg {
  background-color: white;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 9px;
  display: flex;
  align-items: center;
}

img {
  height: 100%;
}

#pokeType {
  font-variant: small-caps;
  font-size: 20px;
  letter-spacing: 1px;
}

#pokeStat {
  width: 200px;
  font-variant: small-caps;
  display: flex;
  flex-wrap: wrap;
  font-size: 27px;
  color: white;
}
